html, body{
        margin: 0;
    }

h1 {
	font-family: Courier;
	font-size: 6vh;
	color: #FBFBFB;
	text-align: center;
	padding-top: 15vh;
  margin: 0;
  vertical-align: middle;
}

.Other_Heads{
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 35vh;
	text-align: center;
	vertical-align: middle;
}

.Basic_Heading{
	width: 100%;
  position: relative;
	text-align: center;
	font-size: 20px;
	font-family: Times New Roman;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 55vh;
  padding-top: 2.5vh;
  color: #d3d3d3;
}

#foot_Text {
  width: 100%;
  position: absolute;
  font-family: Verdana;
  font-size: small;
  color: #d3d3d3;
  bottom: 0;
  text-align: center;
}

.inner_header{
	text-align: center;
}

.inner_content{
	text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #d3d3d3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vh;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 830px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a{
    font-size: 15px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-height: 500px){
  #Basic_Heading{
    font-size: 15px;
  }
  .Other_Heads{
    height: 200px;
  }
  h1{
    padding-top: 80px;
    font-size: 30px;
  }
}